{{ define "content" }}
<h2>📡 Node Status</h2>
<pre>
🔖 Alias do Node:    <strong>{{ .NodeInfo.Alias }}</strong>
🛠️ Versão do LND:    {{ .NodeInfo.Version }}
🔗 Número de Canais: {{ add .NodeInfo.NumActiveChannels .NodeInfo.NumInactiveChannels }}
🔴 Canais Inativos:  {{ if gt .NodeInfo.NumInactiveChannels 0 }}<span class="neon-red">{{ .NodeInfo.NumInactiveChannels }}</span>{{ else }}{{ .NodeInfo.NumInactiveChannels }}{{ end }}

🔄 Sincronizado com Blockchain:     {{ .SyncedToChain }}
🌍 Sincronizado com Rede Lightning: {{ .SyncedToGraph }}
</pre>

<h2>💰 Saldo</h2>
<pre>
🏦 Saldo Onchain:   {{ formatSat .Balance.ConfirmedBalance }} sats ({{ toBTC .Balance.ConfirmedBalance }} BTC)
⚡ Saldo Lightning: {{ formatSat .ChannelBalance }} sats ({{ toBTC .ChannelBalance }} BTC)
</pre>

<div class="menu">
    <a href="/invoice">⚡ Criar Fatura</a>
    <a href="/pay">💸 Pagar Fatura</a>
    <a href="/channels">🔗 Canais</a>
    <a href="/">🔌 Voltar a Conexão</a>
</div>
{{ end }}